@model Shop.ViewModels.CartViewModel

<h1>Index</h1>

@if (Model.Articles.Count() == 0)
{
    <h2>The cart is empty</h2>
}

<table class="table">
    <tbody>

        @foreach (var article in @Model.Articles)
        {
            <tr>
                <td>
                    @article.Item1.Name
                </td>
                <td>
                    @article.Item1.Price
                </td>
                <td>
                    <img width="100" height="100" src="~/upload/@article.Item1.ImageName" alt="miniature">
                </td>
                <td>
                    @article.Item1.Category.Name
                </td>
                <td>
                    <a asp-action="DecreaseQuantityInCart" asp-route-id=@article.Item1.ArticleId>-</a>
                </td>
                <td>
                    @article.Item2
                </td>
                <td>
                    <a asp-action="AddQuantityInCart" asp-route-id=@article.Item1.ArticleId>+</a>
                </td>
                <td>
                    <a asp-action="DeleteFromCart" asp-route-id=@article.Item1.ArticleId>Delete</a>
                </td>
            </tr>
        }

        <tr>
            <td>Total</td>
            <td>
                @Model.totalSum
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<a asp-action="Order"><button class="btn btn-primary">Make an order</button></a>
