@model Shop.ViewModels.OrderViewModel

<h2>Order confirmed.</h2>
<h3>Thank You for Shopping With Us!</h3>

<h4>Personal data</h4>
<p>Name: @Model.Name</p>
<p>Surname: @Model.Surname</p>
<p>Street: @Model.Street</p>
<p>Home number: @Model.homeNumber</p>
<p>City: @Model.City</p>
<p>Payment type: @Model.Payment</p>




